* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    margin: 0;    
}
h1{
    color: white;
}



nav {
    background-color:white;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 20px;
}

nav img {
    height: 65px;
    width: 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

nav li {
    color: black;
    cursor: pointer;
    padding: 10px;
    border: 2px solid darkblue;
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    background-color: darkgray;
}

.main {
    background-color: rgb(72, 61, 139);
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    padding: 20px;
    margin-right:20px;
    margin-left: 20px;
    
    
}

section {
    text-align: center;
    margin-bottom: 20px; 
}
h2{
    color: white;
}


.body.image img {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: 20px; 
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}
button{
    background-color:rgb(96, 0, 0);
    padding:5px;
    border-radius: 5px;
    color:white;
}
button:hover{
    background-color: lightblue;
}
.footer {
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.footer ul {

    display: flex;
    justify-content: center;
    list-style: none;
    padding:0;
    margin:0;
    
}
.footer li {
    font-size: 24px; 
    color:black;
    cursor: pointer;
    padding: 15px;
    border: 2px solid darkblue;
    background-color: lightgray;
    transition: background-color 0.3s;
}
.footer a {
    text-decoration: none;
    color: black;
}
.footer li:hover {
    background-color: darkgray;
}

